.bottom-options {
    position: absolute;
    bottom: 50px;
    width: 72%;
    height: 25.4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 56px;
}

.answer-opt {
    width: 48.3%;
    height: 40%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 56px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    color: white;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#opt-1-alt{
    background-color: var(--vermelho-claro-color);
}

#opt-2-alt{
    background-color: var(--verde-claro-color);
}

#opt-3-alt{
    background-color: var(--amarelo-claro-color);
}

#opt-4-alt{
    background-color: var(--azul-claro-color);
}