.bottom-options {
    position: absolute;
    /*bottom: 50px;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
}

.correct-answer-icon, .wrong-answer-icon {
    position: absolute;
    right: 10px;
    height: 50%;
    width: 18%;
}

/*#opt-1-alt{
    background-color: var(--vermelho-claro-color);
}

#opt-2-alt{
    background-color: var(--verde-claro-color);
}

#opt-3-alt{
    background-color: var(--amarelo-claro-color);
}

#opt-4-alt{
    background-color: var(--azul-claro-color);
}*/