.time-circle {
    background-color: white;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #019DD8;
    font-weight: 600;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 56px;
}